<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tellustek.jerous.myfirstapp">

    <!-- 註冊新的自定權限 -->
    <permission android:name="com.tellustek.jerous.myfirstapp.permission.SAY_HELLO"/>


    <permission android:name="com.tellustek.jerous.myfirstapp.permission.EmptyTestAty"/>
    
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- 添加新的自定權限在安裝時 -->
    <uses-permission android:name="com.tellustek.jerous.myfirstapp.permission.SAY_HELLO"/>
    
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HelloAndroid">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SendSomthingToOtherAty">

            <!-- 用隱式INTENT改寫，可讓其他app CALL此activity -->
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="com.tellustek.jerous.myfirstapp.intent.action.SendSomthingToOtherAty" />
            </intent-filter>
            <!-- END -->
        </activity>
        <activity
            android:name=".ActBaseThemeDialog"
            android:theme="@style/Base.Theme.AppCompat.Dialog" />
        <activity
            android:name=".EmptyTestAty"
            android:label="EmptyTestAty">

            <!-- android:exported="false" -->


            <!-- 用隱式INTENT改寫，可讓其他app CALL此activity -->
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="com.tellustek.jerous.myfirstapp.intent.action.EmptyTestAty" />
            </intent-filter>
            <!-- END -->
        </activity>
        <activity
            android:name=".EmptyAty2"
            android:label="EmptyAty2"
            android:permission="com.tellustek.jerous.myfirstapp.permission.EmptyTestAty">

            <!-- 用隱式INTENT改寫，可讓其他app CALL此activity -->
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="com.tellustek.jerous.myfirstapp.intent.action.EmptyTestAty" />

                <data android:scheme="app" />
            </intent-filter>
            <!-- END -->
        </activity>
        <activity android:name=".ForBrowerAty">
            <intent-filter>
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.VIEW" />

                <data android:scheme="app" />
            </intent-filter>
        </activity>
        <activity android:name=".ContextMethod" />
        <activity
            android:name=".ApplicationAty1"
            android:label="AppAty1" />
        <activity
            android:name=".ApplicationAty2"
            android:label="AppAty2" />
        <activity android:name=".LearnSerivce" />

        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".LearnStartOtherAppService" />
        <activity android:name=".LearnBroadcastReveiver" />

        <!-- 1.如果用動態產生receiver，不是常駐。就要拿掉下面的receiver標籤喔 -->
        <!-- 2.後註冊的Receiver優先級高些，priority高的又在覆蓋優先級順序 -->
        <receiver
            android:name=".MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="15">
                <action android:name="com.tellustek.jerous.myfirstapp.intent.action.MyReceiver" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".MyReceiver1"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="10">
                <action android:name="com.tellustek.jerous.myfirstapp.intent.action.MyReceiver" />
            </intent-filter>
        </receiver>

        <activity android:name=".LearnLog" />
        <activity android:name=".LearnWebView"></activity>
    </application>

</manifest>